[submodule "MINS"]
	path = MINS
	url = https://github.com/sacovo/MINS.git
[submodule "open_vins"]
	path = open_vins
	url = https://github.com/sacovo/open_vins.git
[submodule "opencv_cam"]
	path = opencv_cam
	url = https://github.com/sacovo/opencv_cam
[submodule "ros2_shared"]
	path = ros2_shared
	url = https://github.com/ptrmu/ros2_shared.git
[submodule "fhnw-interfaces"]
	path = fhnw-interfaces
	url = https://gitlab.fhnw.ch/fhnw-rover/fhnw-interfaces.git
[submodule "sllidar_ros2"]
	path = sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
