# Ignore self built ros debian packages
*/*/.obj-x86_64-linux-gnu


# Created by https://www.toptal.com/developers/gitignore/api/ros2
# Edit at https://www.toptal.com/developers/gitignore?templates=ros2

### ROS2 ###
install/
log/
build/
.ros

# Ignore generated docs
*.dox
*.wikidoc
*.pdf
*.csv

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user

*~

# Emacs
.#*

# Colcon custom files
COLCON_IGNORE
AMENT_IGNORE

# End of https://www.toptal.com/developers/gitignore/api/ros2


# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode


# Created by Daniel Richner

### Building debian packages ###
**/*.deb
**/*.ddeb

src/*/debian
src/*/obj*

# End

.venv

data/


# mac os
.DS_Store
